*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/app/build
/captures
.externalNativeBuild
.cxx
sentry.properties
*.trace
*.hprof
keystore.properties
*.apk
/app/full-r8-config.txt
/.gradle.backup/
/.idea.backup/